.creator {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    color: #dddddd;
}

@media only screen and (max-width: 600px) {
    .creator {
        top: 85%;
    }
}